.container {
    display: flex;
    flex-direction: column;
}

.timeline {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-bottom: 15px;
}

.left {
    width: 30%;
    display: table-cell;
    padding-right: 25px;
    min-height: 100%;
    text-align: right;
    vertical-align: top;
}

.divider {
    position: absolute;
    top: 0;
    left: 30%;
    bottom: 0;
    width: 1px;
    background-color: var(--general-background-color);
}

.divider:before {
    box-sizing: inherit;
    content: '';
    display: block;
    position: absolute;
    margin-top: 4px;
    width: 17px;
    height: 17px;
    position: absolute;
    margin-left: -8px;
    border-radius: 10px;
    background-color: #04b4e0;
    opacity: .25;
    z-index: 0;
}

.divider:after {
    box-sizing: inherit;
    content: '';
    display: block;
    position: absolute;
    margin-top: 8px;
    width: 9px;
    height: 9px;
    margin-left: -4px;
    background-color: #222;
    border-radius: 5px;
    border: 2px solid #04b4e0;
    z-index: 1;
}

.right {
    width: 70%;
    display: table-cell;
    padding-left: 25px;
    padding-right: 15px;
    vertical-align: top;
}

@media (max-width: 500px) {
    .timeline {
        position: relative;
        display: block;
    }

    .left {
        width: 100%;
        display: block;
        padding-left: 25px;
        min-height: 100%;
        text-align: left;
    }

    .divider {
        left: 0;
    }
}