
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--background-color);
    border-radius: 10px;
}

.title {
    display: flex;
    margin: 10px;
}