@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('../../public/statick/fonts/Poppins-Black.ttf') format('truetype');

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  font-style: normal;
}
:root { 
  --background-color: #444;
  --general-background-color: #222;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--general-background-color);
}

a {
  color: inherit;
  text-decoration: none;
}