.container {
  padding: 20px;
}

.title {
  margin: 10px;
}

.subtitle {
  margin: 10px;
}

.content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.education {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.skills {
  display: flex;
  flex-direction: column;
  width: 40%;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
  }

  .education {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 375px) {
  .education {
    padding: 0 5px;
  }
}
